$font: "Open Sans", sans-serif;
$sky-blue: #00bfff;
$dark-blue: #6ea5d0;
$real-dark-blue: #09516f;
$info-text-color: #fff;

@mixin flexible-row() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@mixin gridable($gridTemplateColumns, $gridGap, $alignItems) {
    display: grid;
    grid-template-columns: $gridTemplateColumns;
    grid-gap: $gridGap;
    align-items: $alignItems;
}

@mixin transitioned($prop, $duration, $timing-func, $delay) {
    -webkit-transition: $prop $duration $timing-func $delay;
    -moz-transition: $prop $duration $timing-func $delay;
    -o-transition: $prop $duration $timing-func $delay;
    transition: $prop $duration $timing-func $delay;
}

@mixin animated($name, $duration, $timing-function, $delay, $fill-mode) {
    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
    animation-fill-mode: $fill-mode;
}

body {
    font-family: $font;
}

a {
    text-decoration: none;
    color: black;
}

button {
    outline: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.top-bar {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem
}

.top-bar_blue {
    background-color: $sky-blue;
}

.top-bar_dark-blue {
    background-color: $dark-blue;
}

.top-bar__info {
    width: 30%;
}

.header {
    .header__logo {
        width: 4.5rem;
    }
}

.info {
    @include flexible-row();

    .info__elem {
        color: $info-text-color;

        .icon::before {
            font-size: 1.1rem;
            font-weight: bold !important;
            vertical-align: middle;
        }
    }
}

.main-bar {
    .container {
        @include flexible-row();
    }
}

.menu {
    a {
        display: inline-block;
        border-bottom: 0.25rem solid transparent;
        padding: 0.5rem 0;
        margin: 0 1.2rem;

        &:last-child {
            margin-right: 0;
        }
    }

    &.header__menu {
        a {
            font-size: 1.1rem;
            font-weight: 600;
            color: black;
            transition: all 0.1s cubic-bezier(.215, .61, .355, 1) 0s;

            &:hover {
                color: $dark-blue;
                border-color: $dark-blue;
                transition: all 0.1s cubic-bezier(.215, .61, .355, 1) 0s;
            }
        }
    }
}

.fw-container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.hero {
    position: relative;
    height: 600px;

    .hero__bg {
        height: 100%;
        filter: blur(3px);
        background-size: cover;
        background-position: 50% 100%;
        background-repeat: no-repeat;
    }

    .hero__title {
        width: 100%;
        position: absolute;
        top: 28%;
        text-align: center;
        font-size: 2.75rem;
    }

    .hero__btn-wrapper {
        position: absolute;
        top: 43%;
        left: calc(50% - 10rem);
    }

    .hero__btn {
        font-size: 0.9375rem;
        font-weight: 100;
        text-transform: uppercase;
        border: 0;
        padding: 0.65rem 0;
    }

    &.hero-main {
        .hero__bg {
            opacity: 0;
            @include animated(fade-in, 1.3s, ease-in-out, 0.5s, forwards);
        }

        .hero__title {
            opacity: 0;
            color: white;
            @include animated(short-show-title-from-top, 0.65s, ease-in-out, 1.3s, forwards);
        }

        .hero__btn-wrapper {
            opacity: 0;
            cursor: pointer;
            @include animated(short-show-title-from-bottom, 0.65s, ease-in-out, 1.3s, forwards);
        }

        .hero__btn {
            display: inline-block;
            width: 20rem;
            background-color: #6ea5d0;
            color: #fff;
            text-align: center;
            border-radius: 20px;
            @include transitioned(background-color, 0.2s, ease-in-out, 0s);

            &:hover {
                background-color: $real-dark-blue;
                @include transitioned(background-color, 0.2s, ease-in-out, 0s);
            }
        }
    }
}

section {
    width: 100%;
    margin: 0 auto;

    .section__title {
        padding-top: 2.5rem;
        margin-bottom: 3.5rem;
        font-size: 2.75rem;
        font-weight: 600;
        text-align: center;
    }
}

.services {
    .services__elements {
        @include flexible-row();
        flex-wrap: wrap;

        .services__element {
            //opacity: 0;
            width: 30%;
            text-align: center;
            margin-bottom: 2.5rem;

            &.animated {
                @include animated(fade-in, 0.8s, ease-in-out, 0s, forwards);
            }

            .services__element-icon {
                font-size: 2rem;
            }

            .services__element-title {
                font-size: 1.35rem;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
            }

            .services__element-text {
                font-size: 1rem;
                font-weight: 100;
            }
        }
    }
}

.about-me {
    .about-me__content {
        @include gridable(13rem 1fr, 2em, center);

        .photo-with-text {
            width: 13rem;
            height: 13rem;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
        }
    }
}

.footer {
    @include flexible-row();

    .footer__logo {
        width: 10%;
    }

    .footer__menu {

    }

    .footer__contacts {

    }

    .footer__socials {

    }
}

/** Animations */

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes short-show-title-from-top {
    from {
        top: 20%;
        opacity: 0;
    }

    to {
        top: 28%;
        opacity: 1;
    }
}

@keyframes short-show-title-from-bottom {
    from {
        top: 51%;
        opacity: 0;
    }

    to {
        top: 43%;
        opacity: 1;
    }
}
