body {
  font-family: "Open Sans", sans-serif; }

a {
  text-decoration: none;
  color: black; }

button {
  outline: none; }

.container {
  width: 80%;
  margin: 0 auto; }

.top-bar {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em; }

.top-bar_blue {
  background-color: #00bfff; }

.top-bar_dark-blue {
  background-color: #6ea5d0; }

.top-bar__info {
  width: 30%; }

.header .header__logo {
  width: 4.5rem; }

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .info .info__elem {
    color: #fff; }
    .info .info__elem .icon::before {
      font-size: 1.1rem;
      font-weight: bold !important;
      vertical-align: middle; }

.main-bar .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.menu a {
  display: inline-block;
  border-bottom: 0.25rem solid transparent;
  padding: 0.5em 0;
  margin: 0 1.2em; }
  .menu a:last-child {
    margin-right: 0; }
.menu.header__menu a {
  font-size: 1.1rem;
  font-weight: 600;
  color: black;
  transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }
  .menu.header__menu a:hover {
    color: #6ea5d0;
    border-color: #6ea5d0;
    transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

.fw-container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.hero {
  position: relative;
  height: 600px; }
  .hero .hero__bg {
    height: 100%;
    filter: blur(3px);
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat; }
  .hero .hero__title {
    width: 100%;
    position: absolute;
    top: 28%;
    text-align: center;
    font-size: 2.75rem; }
  .hero .hero__btn-wrapper {
    position: absolute;
    top: 43%;
    left: calc(50% - 10rem); }
  .hero .hero__btn {
    font-size: 0.9375rem;
    font-weight: 100;
    text-transform: uppercase;
    border: 0;
    padding: 0.65em 0; }
  .hero.hero-main .hero__bg {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1.3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode: forwards; }
  .hero.hero-main .hero__title {
    opacity: 0;
    color: white;
    animation-name: short-show-title-from-top;
    animation-duration: 0.65s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.3s;
    animation-fill-mode: forwards; }
  .hero.hero-main .hero__btn-wrapper {
    opacity: 0;
    cursor: pointer;
    animation-name: short-show-title-from-bottom;
    animation-duration: 0.65s;
    animation-timing-function: ease-in-out;
    animation-delay: 1.3s;
    animation-fill-mode: forwards; }
  .hero.hero-main .hero__btn {
    display: inline-block;
    width: 20rem;
    background-color: #6ea5d0;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    -webkit-transition: background-color 0.2s ease-in-out 0s;
    -moz-transition: background-color 0.2s ease-in-out 0s;
    -o-transition: background-color 0.2s ease-in-out 0s;
    transition: background-color 0.2s ease-in-out 0s; }
    .hero.hero-main .hero__btn:hover {
      background-color: #09516f;
      -webkit-transition: background-color 0.2s ease-in-out 0s;
      -moz-transition: background-color 0.2s ease-in-out 0s;
      -o-transition: background-color 0.2s ease-in-out 0s;
      transition: background-color 0.2s ease-in-out 0s; }

section {
  width: 100%;
  margin: 0 auto; }
  section .section__title {
    padding-top: 1em;
    margin-bottom: 1.5em;
    font-size: 2.75rem;
    font-weight: 600;
    text-align: center; }

.services .services__elements {
  flex-wrap: wrap; }
  .services .services__elements.horizontal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .services .services__elements.horizontal .services__element {
      width: 30%; }
    .services .services__elements.horizontal.row-4 .services__element {
      width: 24%; }
      .services .services__elements.horizontal.row-4 .services__element .services__element-icon img {
        width: 6rem; }
  .services .services__elements.vertical {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    .services .services__elements.vertical .services__element {
      width: 100%; }
  .services .services__elements .services__element {
    text-align: center;
    margin-bottom: 5em; }
    .services .services__elements .services__element.animated {
      animation-name: fade-in;
      animation-duration: 0.8s;
      animation-timing-function: ease-in-out;
      animation-delay: 0s;
      animation-fill-mode: forwards; }
    .services .services__elements .services__element .services__element-icon {
      font-size: 2rem; }
    .services .services__elements .services__element .services__element-title {
      width: 55%;
      margin: 0 auto;
      font-size: 1.5rem;
      font-weight: 300;
      color: #6ea5d0;
      margin-top: 0.5em;
      margin-bottom: 1em; }
    .services .services__elements .services__element .services__element-text {
      font-size: 1.1rem;
      line-height: 1.7em;
      font-weight: 100; }

.about-me .about-me__content {
  display: grid;
  grid-template-columns: 13rem 1fr;
  grid-gap: 2em;
  align-items: center; }
  .about-me .about-me__content .photo-with-text {
    width: 13rem;
    height: 13rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%; }

.result {
  padding-bottom: 5em; }
  .result.colored.blue {
    background-color: #6ea5d0; }
    .result.colored.blue .result__title {
      color: white; }
    .result.colored.blue .result__text {
      color: white; }
    .result.colored.blue .result__list li {
      color: white; }
  .result .result__title {
    margin-bottom: 0.5em; }
  .result .result__text {
    width: 65%;
    font-size: 1.25rem;
    line-height: 1.8em;
    font-weight: 400;
    text-align: center;
    margin: 0 auto 3.5em auto; }
  .result .result__list li {
    font-size: 1.125rem;
    line-height: 1.5em;
    font-weight: 200;
    margin-bottom: 1em; }

.seo-text {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  text-align: center;
  font-size: 1.2rem;
  line-height: 2em; }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .footer .footer__logo {
    width: 10%; }

/** Animations */
@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes short-show-title-from-top {
  from {
    top: 20%;
    opacity: 0; }
  to {
    top: 28%;
    opacity: 1; } }
@keyframes short-show-title-from-bottom {
  from {
    top: 51%;
    opacity: 0; }
  to {
    top: 43%;
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
