$font: "Open Sans", sans-serif;
$sky-blue: #b3deff;
$info-text-color: #fff;

body {
    font-family: $font;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.top-bar {
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem
}

.top-bar_blue {
    background-color: $sky-blue;
}

.top-bar__info {
    width: 30%;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .info__elem {
        color: $info-text-color;

        .icon {

        }

        .icon::before {
            font-weight: bold !important;
            vertical-align: middle;
        }
    }
}
